@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	background: #e0e0e0;
	margin: 0px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: bold;
}

.chat_box {
	position: fixed;
	right: 20px;
	bottom: 0px;
	width: 700px;
}

.chat_body {
	background: #98bbd1;
	height: 400px;
	padding: 5px 0px;
}

.chat_head, .msg_head {
	background: #f39c12;
	color: white;
	padding: 15px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
}

.msg_box {
	position: static;
	bottom: -5px;
	width: 700px;
	background: #98bbd1;
	border-radius: 5px 5px 0px 0px;
	float:left;
}
.room_box {
	position: static;
	bottom: -5px;
	width: 400px;
	background: #98bbd1;
	border-radius: 5px 5px 0px 0px;
	float:left;
	margin-left:20px
}
.msg_head {
	background: #98bbd1;
	border-bottom: 1px solid #DDDDDD;
}

.room_head {
	background: #98bbd1;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 5px 5px 0px 0px;
	padding: 15px;
}
.room_footer{
	background: #e0e0e0;
	height: 30px;
	padding: 3px;
	border: 2px solid #98bbd1;
}

.msg_body {
	background: #98bbd1;
	height: 400px;
	font-size: 14px;
	padding: 15px;
	min-height:650px;
	overflow:auto;
}
.room_body {
	background: #98bbd1;
	height: 400px;
	font-size: 14px;
	padding: 15px;
	min-height:650px;
	overflow:auto;
}
.msg_etc{
	background: #e0e0e0;
	height: 30px;
	padding: 3px;
	border: 1px solid #98bbd1;
}
.msg_push {
	position: relative;
	background: #88a3be;
	padding: 10px;
	min-height: 7px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.msg_input {
	border: 1px solid white;
	border-top: 1px solid #DDDDDD;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
	width: 700px;
	min-height: 70px;
	max-height: 200px;
	resize: none;
}

.close {
	float: right;
	margin-right: 7px;
	cursor: pointer;
}

.modify {
	float: right;
	margin-right: 15px;
	cursor: pointer;
}

.minimize {
	float: right;
	cursor: pointer;
	padding-right: 5px;
}

.user {
	position: relative;
	padding: 10px 30px;
}

.user:hover {
	background: #f8f8f8;
	cursor: pointer;
}

.user:before {
	content: '';
	position: absolute;
	background: #2ecc71;
	height: 10px;
	width: 10px;
	left: 10px;
	top: 15px;
	border-radius: 6px;
}

.chat_time {
	font-size:9pt;
}

.msg_white {
	position: relative;
	background: #ffffff;
	padding: 10px;
	min-height: 40px;
	margin-bottom: 38px;
	margin-right: 30px;
	margin-left: 100px;
	border-radius: 5px;
	
}

.msg_white:before {
	content: url(images/unknown_image.png);
	position: absolute;
	left:-95px;
	top:-9px;
}

.msg_yellow {
	background: #fcf20f;
	padding: 10px;
	min-height: 15px;
	margin-bottom: 30px;
	position: relative;
	margin-right: 30px;
	margin-left: 30px;
	border-radius: 5px;
}

.msg_yellow:after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent transparent #fcf20f;
	right: -20px;
	top: 7px;

}
.hidden {
	width:1px;
	height:1px;
	border:0;

}
.emoji_button {
        background: url(images/emoji_button.png) no-repeat;
        border: none;
        width: 37px;
        height: 32px;
        cursor: pointer;
}
.pic_button {
        background: url(images/pic_button.png) no-repeat;
        border: none;
        width: 40px;
        height: 32px;
        cursor: pointer;
}
.info_button {
        background: url(images/info_button.png) no-repeat;
        border: none;
        width: 40px;
        height: 32px;
        cursor: pointer;
}
.logout_button {
        background: url(images/logout_button.png) no-repeat;
        border: none;
        width: 40px;
        height: 32px;
        cursor: pointer;
}
